<h1 class="edit_profile"> プロフィール編集</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <%= form_with model: @user, url: profile_path, local: true do |f| %>
                <div class="form-group">
                    <%= f.label :自己紹介, class: "introduction" %>
                    <%= f.text_field :introduction, class: 'form-control' %>
                </div>
                <%= f.submit "送信", class: "btn btn-primary"%>
                <% end %>
            </div>
        </div>
    </div>