<p　class="welcome">ヨーロッパサッカー掲示板にようこそ <%= @user.name %>さん。</p>

<p class="provisional stage">
   現在、仮登録の状態です。本登録をするには下のリンクのクリックをお願いします。
</p>

<p class="protected-everglades-48656"><%= link_to "protected-everglades-48656", protected - everglades - 48656 %></p>

