<%= stylesheet_link_tag 'users_show', media: 'all', 'data-turbolinks-track': 'reload' %>
    <h1 class="user_name">
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
<ul class="follow_info">
    <li class="my_follower">13フォロワー</li>
    <li class="follow">13フォロー中</li>
</ul>