<title>ヨーロッパサッカー掲示板</title>
<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="main">
<p class="welcom">ようこそヨーロッパサッカー掲示板へ。<br>私たちと一緒にヨーロッパサッカーについて語り合いましょう！！！</p>
</div>