@import "common.scss";
@import "mixin.scss";

header {
    background-color: black;
    height: 55px;
    width: 1540px;
    overflow: hidden;
    .link {
        color: white;
    }
    .header_title {
        float: left;
        font-size: 25px;
        padding-top: 8px;
        :hover {
            color: rgb(193, 193, 241);
            text-decoration: none;
        }
    }
    li {
        list-style: none;
        float: right;
        font-size: 17px;
        padding-bottom: 10px;
        padding-right: 10px;
        :hover {
            color: rgb(193, 193, 241);
            text-decoration: none;
        }
    }
}

footer {
    background-color: black;
    width: 1540px;
    .link {
        color: white;
        text-decoration: none;
    }
     footer_title {
        padding-top: 8px;
        font-size: 25px;
        :hover {
            color: rgb(193, 193, 241);
            text-decoration: none;
        }
    }
}
