@import "common.scss";
body {
    .laliga_post_page {
        font-size: 20px;
        .new {
            margin-left: 15px;
        }
    }
    .post {
        background-color: rgb(197, 234, 235);
        div.title {
            margin-top: 40px;
            p.title {
                border-top: double 1px black;
                margin-top: 20px;
                font-size: 27px;
            }
            section.title {
                margin-top: 20px;
                font-size: 20px;
            }
        }
        div.comments {
            margin-top: 20px;
            p.comments {
                margin-top: 20px;
                font-size: 27px;
            }
            section.comments {
                margin-top: 20px;
                font-size: 20px;
            }
        }
        .image {
            margin-top: 30px;
            section.image {
                width: 10px;
                height: 10px;
            }
        }
    }
}
