@import "common.scss";

body{
    background-image: url("top.png");
    background-repeat: no-repeat;
    background-size: 50%;
    
    .main{
        .welcome{
            text-color: white;
        }
        height: 560px;
    }
}



