@import "common.scss";
.user_name {
        font-size: 20px;
        :hover {
            text-decoration: none;
        }
    }
    .edit_profile {
        margin-top: 20px;
    }
    .stars{
        margin-top: 20px;
    }
.follow_info {
    overflow: hidden;
    :hover {
        color: rgb(193, 193, 241);
        text-decoration: none;
    }
    .my_follower,
    .follow {
        margin-right: 10px;
        list-style: none;
        float: right;
    }
}
.follow_botton{
    margin-top: 15px;
}
p.message {
    margin-top: 15px;
    font-size: 15px;
}
.btn-primary{
    margin-top: 15px;
}
.button{
    border-bottom: solid #ffccff 1px;
}
